<div class="row">
<div class="span12">
<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="item active">
                    <img src="/assets/flyfishing2.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>OutFly is...</h4>
                      <p>...your personal and social fly-fishing journal and your virtual guide.  Take OutFly with you or record your trips at home.  Always have access to your entries - and advice from the OutFly community.</p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="/assets/flyfishing1.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>Be a better fly-fisher...</h4>
                      <p>...record the locations, conditions, flies used, successes and failures, save photos and share (or not) as you please! </p>
                    </div>
                  </div>
                  <div class="item">
                    <img src="/assets/flyfishing3.jpg" alt="">
                    <div class="carousel-caption">
                      <h4>On your next outing...</h4>
                      <p>...refer to your prior entries, search for location or conditions, or search the OutFly community for additional advice and suggestions...winning!</p>
                    </div>
                  </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>
</div>

