<div class="row">
<div class="span12">
<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">

    <div class="item active">
      <img src="/assets/flyfishing2.jpg" alt="">
        <div>
          <h4>OutFly is...</h4>
          <p>...your personal and social fly-fishing journal and virtual guide.  Take OutFly with you or record your trips at home.  Always have access to your entries - and advice from the OutFly community.</p>
        </div>
    </div>
                  
    <div class="item">
      <img src="/assets/flyfishing1.jpg" alt="">
        <div>
          <h4>Be a better fly-fisher...</h4>
          <p>...record the locations, conditions, flies used, successes and failures, save photos and share (or not) as you please! </p>
        </div>
    </div>
                  
    <div class="item">
      <img src="/assets/flyfishing3.jpg" alt="">
        <div>
          <h4>On your next outing...</h4>
          <p>...refer to your prior journal entries, search for location or conditions, or search the OutFly community for additional advice and suggestions...winning!</p>
        </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div> <!-- carousel -->
</div> <!-- span -->
</div> <!-- row -->

<hr>

<div class="row" style="padding-bottom:26px">
<center><h3>Fly-fishing love from our community...</h3></center>
</div><!-- row -->

<div class="row">

  <div class="span4">
    <center><img src="/assets/john_redfish.jpg" class="img-circle" alt="">
      <h4>John Incantalupo<br>Naples, FL</h4>
      <p>"OutFly helps me remember the most effective fly to fish under variable conditions, in locations far and wide - and I can share my fishing pics with family and friends on Facebook and Twitter!"</p>
    </center>
  </div><!-- span -->

  <div class="span4">
    <center><img src="/assets/bill_trout.jpg" class="img-circle" alt="">
      <h4>Bill DeGasperis<br>Sparta, NJ</h4>
      <p>"As a new fly-fisherman I really needed an app to help me record what I'd learned, and search for advice & new spots to fish.  OutFly does all of that and more - an invaluable tool for this sport!"</p>
    </center>
  </div><!-- span -->

  <div class="span4">
    <center><img src="/assets/sean_trout.jpg" class="img-circle" alt="">
      <h4>Sean Francis<br>Suffern, NY</h4>
      <p>"The first time my Dad took me to Pulaski, I caught this beautiful brown trout - I'll never forget it!  Recorded this catch in my OutFly virtual creel and shared on Facebook!"</p>
    </center>
  </div><!-- span -->

</div><!-- row -->


<hr>




